.package-item {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 310px;
  border: 1px solid black;
  border-radius: 15px;
  cursor: pointer;
  &:hover .package-item__title {
    background-color: rgb(200, 200, 246);
  }
  &__title {
    margin: 0;
    margin-top: 10px;
    display: flex;
    font-size: 24px;
    font-weight: 400;
    transition: background-color 0.3s;
  }
  &__flex-box {
    display: flex;
    gap: 30px;
  }

  &__image-download {
    width: 20px;
    height: 20px;
  }

  &__first-part {
    color: orange;
  }

  &__second-part {
    color: black;
  }
}

.my-class {
  background-color: yellow;
}
